body
{
    background-color: #F4F4F2;
}
.container-bg
{
    background-color: white;
}
.ad-container
{
    

    height: 100%;
}
.info-container
{
    
    padding: 10px;
    height: 100%;
}
.mtt
{
    margin-top: 3%;
    padding: 1%;
}
.logo> span
{
    
    font-size: 25px;
}
.logo span:first-child
{
    font-weight: bold;
    color: #212529;
}
.logo span:last-child
{
    color: #AA3A3A;
}
.options  a
{
    margin-left: 5px !important;
    text-decoration: none;
    font-weight: bold;
}
.options span
{

    background: -webkit-linear-gradient(#AA3A3A, #212529);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    font-size: 20px;
}
.fa-edit
{
    font-size: 30px;
}
.fa-phone-square-alt
{
    color: #125D98;
}
.fa-sms
{
    color: #FFC074;
}
.fa-envelope
{
    color: #212529;
}
.disc
{
    color: #212529;
}
.disc-span
{
    color: #B2B1B9;
    font-size: 12px;
    margin-left: 2%;
    margin-right: 2%;
}

.fa-disc-edit
{
    color: #AA3A3A;
    font-size: 12px;
}


.more-ads a
{
    text-decoration: none;
}

.ad img
{
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.infoo
{
    text-transform: uppercase;
    font-weight: bold;
}
.faa-edit
{
    
    margin-right: 40px;
}
.more-opt
{
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #212529;
    font-size: 14px;
}
.more-opt:hover
{
    color: #212529;
}

.btn-edit
{
    font-size: 15px;

    outline: none;
    border: none;
}
.delete
{
    background-color: #F63D52;
}
.update
{
    background-color: #1365df;
}
.delete:hover,.update:focus
{
    background-color: #911F27;
}
.update:hover,.update:focus
{
    background-color:  #002366;
}
.carousel-item img
{
    width: 652px;
    height: 468px;
    font-weight: bold;
}
